{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_filters %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="left">
        <div class="text-center mt-5">
            <h2>{% trans "Sign In" %}</h2>
            <p>{% blocktrans %}Welcome back to the <span class="rainbow">Cash Symphony</span> app. If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div class="right">
        <div class="form-container">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-grid">
                    <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Sign In" %}</button><br>
                    <a class="button secondaryAction text-dark text-center" href="{% url 'account_reset_password' %}">
                        Forgot Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}