{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_filters %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="left">
        <div class="text-center mt-5">
            <h2>{% trans "Sign Up" %}</h2>

            <p>{% blocktrans %}Welcome to the <span class="rainbow">Cash Symphony</span> app. Do you already have an account? Then please <a
                    class="link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="right">
                <div class="form-container">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-success right" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}