{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



<div class="container">
    <div class="left">
        <img src="{% static 'images/piggy.jpg' %}" alt="Your Image" />
    </div>
    <div class="separator"></div>
    <div class="right">
        <div class="right-content">
            <h2 class="form-heading">
            Synchronize Your Finance With Cash Symphony - Where Every Note Is a Step Towards Financial Harmony
            </h2>
        </div>
    </div>
</div>


    



{% endblock %}

