{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="left">
        <img src="your-image-source" alt="Your Image" />
    </div>
    <div class="separator"></div>
    <div class="right">
        <div class="right-content">
            <h2 class="form-heading">
            Synchronize Your Finance With Cash Symphony - Where Every Note Is a Step Towards Financial Harmony
            </h2>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- I am not sure this js is required anymore -->
<script>
    const signUpBtn = document.getElementById('signUpBtn');
    const signInBtn = document.getElementById('signInBtn');
    const signUpFormContainer = document.getElementById('signUpFormContainer');
    const signInFormContainer = document.getElementById('signInFormContainer');
    const formHeading = document.querySelector('.right h2');
    const image = document.querySelector('.left img');

    signUpBtn.addEventListener('click', function () {
        signUpFormContainer.style.display = 'flex';
        signInFormContainer.style.display = 'none';
        formHeading.style.display = 'block';
        image.style.display = 'none'; // Add this line to hide the image
    });

    signInBtn.addEventListener('click', function () {
        signInFormContainer.style.display = 'flex';
        signUpFormContainer.style.display = 'none';
        formHeading.style.display = 'block';
        image.style.display = 'none'; // Add this line to hide the image
    });
</script>
{% endblock %}