@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');


:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    background-color: #417690;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    background-color: #417690;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Header */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

img.logo {
    /* width: 18.75rem; */
    height: 100px;
    width: auto;
}

/* ----- */

/* .active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

body {
    background-color: #E9F1FA;
    color: #333333;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    justify-content: center;
    overflow-x: hidden; /* Hide horizontal scrollbar on smaller screens 
}*/

/* header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    background-color: #00ABE4;
    color: white;
}

header a {
    color: white;
}

a {
    text-decoration: none;
}

.left img {
    display: none;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: none;
    width: 100%;
    background: linear-gradient(#212121, #212121) padding-box,
        linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: #E9F1FA;
    color: #00ABE4;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

button:hover {
    background-color: #4c4d4f;
}

#center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h2, p {
    text-align: center;

    margin-left: 5%;
    margin-right: 5%;
}  

.rainbow {
    background: linear-gradient(90deg, #800000, #ff6600, #808000, #008000, #000080, #4b0082, #800080);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left,
    .right {
        width: 50%;
        padding: 10px;
        justify-content: center;
    }

    h2.form-heading, p {
        display: block;
    }

    .right-content {
        align-items: flex-start; /* Adjust alignment */
    }

    .separator {
        border-left: 1px solid #00ABE4;
        height: 80%;
        margin: auto 0;
    }

    .left img {
        display: block;
        width: 100%;
    }

    .form-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70%; /* Adjust the width as needed */
    }
}

@media screen and (min-width:40em){
    .form {
        width: 50%;
    }

    .recipe-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
}