{% extends 'base.html' %}
{% load static %}

{% block title %}418{% endblock %}

{% block content %}
    <div class="container">
        <div class="left">
            <!-- Requires image -->
            <img src="#" alt="" />
        </div>
        <div class="separator"></div>
        <div class="right">
            <div class="right-content">
                <h2 class="form-heading">
                418 - Oops! The teapot is on a budget break!
                </h2>
                <p>Our teapot is taking a short break to save some tea leaves. It will be back soon with a budget-friendly brew!</p>
                <a href="{% url 'home' %}"><button id="center-button">Back to Safety</button></a>
            </div>
        </div>
    </div>
{% endblock %}

