{% load static %}

<footer>
  <!-- Social media icons -->
  <a href="" target="_blank" rel="noopener" aria-label="Linkedin - Opens in a new tab">
    <img src="{% static '/icons/linkedin.svg' %}" alt="LinkedIn" class="social-icon">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="GitHub - Opens in a new tab">
    <img src="{% static '/icons/github.png' %}" alt="GitHub" class="social-icon">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
    <img src="{% static '/icons/instagram.svg' %}" alt="Instagram" class="social-icon">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="Youtube - Opens in a new tab">
    <img src="{% static '/icons/youtube.svg' %}" alt="Youtube" class="social-icon">
  </a>
  <a href="" target="_blank" rel="noopener" aria-label="X - Opens in a new tab">
    <img src="{% static '/icons/x-social-media-logo-icon.svg' %}" alt="X" class="social-icon">
  </a>
</footer>